# Konfigurasi PostgreSQL dengan pgvector
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase
POSTGRES_PORT=5432

# Konfigurasi pgweb (UI untuk PostgreSQL)
PGWEB_PORT=8081

# Konfigurasi DB untuk aplikasi backend (format psycopg2)
DB_CONFIG=dbname=mydatabase user=user password=password host=localhost port=5432

# Konfigurasi Model LLM
LLM_MODEL_GGUF=qwen2.5-0.5b-instruct-q4_k_m.gguf
LLAMA_PORT=8080
LLAMA_CTX=2048
LLAMA_NGL=0
LLAMA_THREADS=3
LLAMA_READY_TIMEOUT=60
